.app-header {
    background: #285b72;
    background: $clr3;
    padding-bottom: 0;
    h2 {
        font-family: OpenSans-Bold;
        font-size: 30px;
    }
    nav {
        a {
            font-size: 12px;
            font-family: OpenSans-Bold;
            font-size: 12px;
            position: absolute;
            top: 5px;
            left: 5px;
            color: rgb(80, 102, 117);
            &:is(.active, .my-active) {
                color: rgb(46, 125, 179);
            }
        }
    }
}
