// Colors
$clr1: #192831;
$clr2: rgb(153, 135, 101);
$clr3: #243b49;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;
