.best-data-container {
    opacity: 0.8;
    div {
        margin: 10px auto;
    }
    h2 {
        color: rgb(114, 94, 56);
    }
    span {
        font-weight: bold;
        color: rgb(187, 171, 141);
    }
}
